[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
python-coveralls = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pyjwt = "*"
pystache = "*"
boto3 = "*"
spacy = "*"
"es_core_news_md" = {file = "https://github.com/explosion/spacy-models/releases/download/es_core_news_md-2.2.5/es_core_news_md-2.2.5.tar.gz"}
unidecode = "*"
bs4 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
